.readmore {
    font-size: 16px;
    color: $fff;
    text-transform: uppercase;
    border: 1px solid #d9d9d9;
    width: 146px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include transition(all 0.3s ease-in-out);

    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;

    margin-top: 48px;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $fff;
        transform: scalex(0);
        @include transition(all 0.3s ease-in-out);
    }

    &:hover,
    &:focus {
        color: $back;
        border: 1px solid #d9d9d9;

        &:before {
            transform: scalex(1);
        }
    }
}