.navbar-cont {
    background-color: rgba(#161616, 0.949);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 256;
    display: none;
}

.mo-navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 110px;

    .social {
        margin-top: 40px;
    }
}

.nav-li {
    margin-bottom: 13px;
}

.nav-anchor {
    font-size: 26px;
    color: #a5a4a4;
    font-family: med;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: #fff;
    }

    &:focus {
        color: #fff;
    }

}

.close-btn {
    position: absolute;
    top: 44px;
    left: 0;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    @include transition(all 0.3s ease-in-out);

    &.close-fixed {
        top: 31px;
    }

    &:hover {
        color: #a5a4a4;
    }
}

.lang {
    position: absolute;
    top: 48px;
    right: 0;
    font-size: 16px;
    color: #a5a4a4;
    @include transition(all 0.3s ease-in-out);

    &.lang-fixed {
        top: 36px;
    }

    &:hover {
        color: #fff;
    }
}