body {
    font-family: sst;
    background-color: $back;
    height: 5000px;

    &::-webkit-scrollbar {
        background-color: rgba($back, 0.5);
        width: 7px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($text, 0.5);
        border-radius: 10px;

        &:hover {
            background-color: rgba($text, 1);
        }
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: rgba($text, 0.75) rgba($back, 0.5);
}

.overflow {
    overflow: hidden !important;
}