header {
    position: relative;

    @include xs {
        padding-top: 92.58px;
    }
}

.top-bar-cont {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 14px 0;
    z-index: 99;

    @include xs {
        position: fixed;
        background-color: $back;
        padding: 10px 0;
    }
}

.top-bar {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.logo {
    max-width: 310px;

    @include xs {
        max-width: 250px;
    }
}

.mo-menu-btn {
    font-size: 30px;
    color: $fff;
    cursor: pointer;
    display: flex;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: $hover;
    }
}

.header-bg {
    width: 100%;
}

.head-fix {
    position: fixed;
    background-color: $back;
    padding: 10px 0;
    z-index: 9;

    .logo {
        max-width: 250px;
    }
}

.text {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: med;
    color: $fff;

    @include xs {
        padding-top: 92.58px;
    }
}

.arabic-head {
    font-size: 48px;
    margin-bottom: 19px;

    width: 0%;
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
    transition: all 7s ease;

    @include xs {
        font-size: 28px;
        transition: all 3s ease;
    }
}

.english-head {
    font-size: 28px;
    direction: ltr;
    width: 0%;
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
    transition: all 7s ease;

    @include xs {
        font-size: 18px;
        transition: all 3s ease;
    }
}

.openStyle {
    width: 100%;
}