/////////////////Home/////////////
.about {
    position: relative;
    padding: 133px 0 139px;
    color: $fff;
    overflow: hidden;

    &:after {
        content: url('../images/pattern.png');
        position: absolute;
        top: 25px;
        right: 70px;
        z-index: -1;

        @include sm {
            right: 50%;
            transform: translateX(50%);
        }
    }

    @include sm {
        padding: 50px 0 56px;
    }
}

#{$ltr} .about {
    &:after {
        left: 70px;
        right: auto;
        z-index: -1;

        @include sm {
            left: auto;
            right: 50%;
            transform: translateX(50%);
        }
    }
}

.about-head {
    font-size: 38px;
    font-family: med;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    line-height: 1.263;

    &:after {
        content: url('../images/border.png');
    }

    @include sm {
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    @include xs {
        font-size: 22px;
    }
}

#{$ltr} .about-head {
    padding-left: 0;
    padding-right: 35px;

    @include sm {
        padding: 0;
    }
}

.about-text {
    font-size: 18px;
    padding-left: 90px;
    text-align: justify;
    line-height: 1.889;

    @include sm {
        align-items: center;
        padding: 0;
        text-align: center;
    }
}

#{$ltr} .about-text {
    padding-left: 0;
    padding-right: 90px;

    @include sm {
        padding: 0;
    }
}

.video {
    position: relative;

    &:hover {
        .play {
            &::before {
                animation: vibe 0.7s ease forwards;
            }
        }
    }

    img {
        width: 100%;
    }
}


.play {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $fff;
    font-size: 18px;

    &:before {
        content: url('../images/play.png');
        max-width: 100%;
    }
}

.numbers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 326px;
    padding: 25px 0;

    @include xs {
        flex-direction: column;
        justify-content: center;
    }
}

.number {
    font-size: 18.2px;
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span {
        font-size: 60px;
        color: #fff;
        font-family: bold;
        line-height: 25px;
        margin-bottom: 19px;

        @include xs {
            line-height: unset;
            margin-bottom: -12px;
        }
    }

    @include xs {
        margin-bottom: 40px;

        &:last-of-type {
            margin: 0;
        }
    }
}

.features {
    display: flex;

    @include xs {
        flex-direction: column;
    }
}

.feature {
    position: relative;
    cursor: default;
    overflow: hidden;
    width: 50%;

    img {
        @include transition(all 0.3s ease-in-out);
        backface-visibility: hidden;
    }

    .bg {
        width: 100%;
    }

    &:hover {
        .bg {
            transform: scale(1.05);
        }
    }

    @include xs {
        width: 100%;
    }
}

.info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: $fff;
    padding: 0 85px;
    backface-visibility: hidden;

    @include xs {
        padding: 0 10px;
    }
}

.feat-name {
    font-size: 30px;
    font-family: med;
    margin-top: 22px;
    margin-bottom: 48px;
    backface-visibility: hidden;

    @include xs {
        font-size: 22px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
}

.feat-info {
    font-size: 18px;
    backface-visibility: hidden;

    @include xs {
        font-size: 16px;
    }
}

///////////about////////////
.about-inner {
    padding: 81px 0 100px;

    .about-head {
        max-width: 310px;
        margin-bottom: 40px;

        @include xs {
            max-width: none;
            text-align: center;
        }
    }

    .about-text {
        font-size: 20px;
    }

    &:after {
        display: none;
    }
}

#{$ltr} .about-inner {

    .about-head {
        max-width: 475px;

        @include xs {
            max-width: none;
        }
    }
}

.inner-numbes-cont {
    min-height: 348px;
}

.testmonials-slider-sec {
    margin-top: 123px;
}

.testmonials-head {
    font-size: 38px;
    font-family: med;
    display: flex;
    flex-direction: column;
    line-height: 1.263;
    align-items: center;
    justify-content: center;
    color: $fff;
    margin-bottom: 42px;

    &:after {
        content: url('../images/border.png');
    }


    @include xs {
        font-size: 22px;
    }
}