.contact-page-head {
    font-size: 30px;
    font-family: med;
    text-align: center;
    color: $fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 55px;
    margin-top: 118px;

    &:after {
        content: url('../images/border.png');
    }

    @include xs {
        font-size: 22px;
    }
}

#{$ltr} .contact-page-head {

    @include xs {
        font-size: 18px;
    }
}

.career-form {
    width: 455px;
    margin: auto;

    @include xs {
        width: 100%;
    }

    .input-label {
        width: 100%;
        height: 50px;
        position: relative;
        margin-bottom: 30px;
    }

    .input-career {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-bottom: 1px solid #484848;
        color: #fff;
        font-size: 16px;
        padding: 0 15px;
        -moz-appearance: textfield;
        transition: 0.2s ease all;
        text-align: right;

        &:focus {
            border-bottom: 1px solid $fff;
        }

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
    }

    .floating-label {
        position: absolute;
        pointer-events: none;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #858585;
        font-size: 16px;
        transition: 0.2s ease all;
    }

    .label-active {
        top: 0;
        right: 0;
        font-size: 13px;
        color: #fff;
    }
}

.upload-btn-wrapper {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    left: 0;
    bottom: 5px;


    .btn {
        background-color: #363636;
        border: 2px solid transparent;
        width: 119px;
        height: 36px;
        font-size: 14px;
        color: #7a7a7a;
        border-radius: 0;
        cursor: pointer !important;
        transition: 0.2s ease all;

        &:hover {
            background-color: transparent;
            border: 2px solid #d9d9d9;
        }
    }

    input[type=file] {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 119px;
        height: 36px;
        cursor: pointer !important;

        &:hover {
            cursor: pointer !important;

            +.btn {
                background-color: transparent;
                border: 2px solid #d9d9d9;
                cursor: pointer;

            }
        }
    }
}


#{$ltr} .career-form {


    .input-career {
        text-align: left;
    }

    .floating-label {
        right: auto;
        left: 0;
    }

    .label-active {
        right: auto;
        left: 0;
    }
}

#{$ltr} .upload-btn-wrapper {
    right: 0;
    left: auto;

    input[type=file] {
        right: 0;
        left: auto;
    }
}