.services {
    padding: 133px 0 0;

    @include xs {
        padding: 80px 0 0;
    }
}

.services-head {
    font-size: 38px;
    font-family: med;
    text-align: center;
    color: $fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 55px;

    &:after {
        content: url('../images/border.png');
    }

    @include xs {
        font-size: 22px;
    }
}

.service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 65px;
}

.serv-img {
    width: 113px;
    height: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-name {
    font-size: 20px;
    font-family: med;
    color: $fff;
    margin: 36px 0 19px;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: #c7c7c7;
    }
}

.service-info {
    font-size: 16px;
    color: #999999;
    padding: 0 30px 0 28px;

    @include sm {
        padding: 0;
    }
}

.gallery {
    display: flex;
}

.items {
    display: flex;
    align-items: flex-start;
    width: 40%;
    flex-direction: column;

    a {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

.items-2 {
    display: flex;
    align-items: center;
    width: 20%;
}

.item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    a {
        width: 50%;

        img {
            width: 100%;
        }
    }

    .seemore-cont {
        display: block;
        width: 50%;
        position: relative;

        &:after {
            content: '';
            display: block;
            padding-bottom: 100.74%;
        }

        .see-more {
            color: #161616;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -30px;
            top: 0;
            width: 100%;
            background-color: $fff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            span {
                font-family: bold;
                font-size: 28px;

                @include sm {
                    font-size: 21px;
                }

                &:first-child {
                    font-family: light;
                    font-size: 29px;

                    @include sm {
                        font-size: 22px;
                    }
                }
            }

            &:after {
                margin-top: 17px;
                content: url('../images/border.png');
            }
        }

        @include xs {
            display: none;
        }
    }
}

#{$ltr} .item {


    .seemore-cont {

        .see-more {
            span {
                font-size: 22px;

                @include sm {
                    font-size: 18px;
                }

                &:first-child {

                    font-size: 23px;

                    @include sm {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

.news {
    margin-top: 158px;

    @include sm {
        margin-top: 100px;
    }
}

.news-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.news-header {
    font-size: 38px;
    font-family: med;
    color: $fff;
    display: flex;
    flex-direction: column;

    &:after {
        content: url('../images/border.png');
    }

    @include xs {
        font-size: 22px;
    }
}

.morenews {
    font-size: 20px;
    color: #999999;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: #fff;
    }

    @include xs {
        font-size: 16px;
    }
}

.new {
    display: flex;
    flex-direction: column;

    @include sm {
        margin-bottom: 25px;
    }
}

.new-img {
    order: 1;
    overflow: hidden;

    img {
        @include transition(all 0.3s ease-in-out);

        @include sm {
            width: 100%;
        }
    }
}

.new-head {
    font-size: 20px;
    font-family: med;
    color: $fff;
    order: 2;
    margin-top: 35px;
    margin-bottom: 16px;

    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: #999999;

        &~.new-img {
            img {
                transform: scale(1.05);
            }
        }
    }

    @include sm {
        text-align: center;
    }
}

.new-body {
    font-size: 16px;
    color: #999;
    order: 3;
    line-height: 1.2;

    @include sm {
        text-align: center;
    }
}